@import "./variables";

.root {
	min-width: 1024px;
	padding-bottom: $tableMargin;
}

.root, .root *, .root *::before, .root *::after {
	box-sizing: border-box;
	outline: none;
	text-size-adjust: none;
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
}