.root {
	min-width: 1024px;
}

.root, .root *, .root *::before, .root *::after {
	box-sizing: border-box;
	text-size-adjust: none;
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

.artwork {
	background-image: url('/static/main_artwork.jpg');
	background-size: cover;

	&::after {		
		width: 100%;
		padding-bottom: 34%;
		content: '';
		height: 0;
		display: block;
	}
}