@import "./variables";
@import "./placeholders";

.artwork {
	@extend %pageArtwork;
	width: 796px;
	margin-bottom: -56px;
}

.firstImage {
	height: 102px;
	display: block;
	margin-left: 20px;
}

.contactEmail {
	font-size: 32px;
	font-weight: bold;
	color: inherit;
}

.contactText {
	margin-top: 8px;
}

.doctorImage {
	width: 170px;
	display: block;
	margin: auto;
}

.typeImage {
	height: 160px;
}

.whatNextImage {
	margin-top: -30px;
	margin-bottom: $sectionMargin;
	width: 100%;
}

.findCity {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.findEmpty {
	
}

.findContainer {
	margin-top: $paragraphMargin;
}

.findMap {
	height: 300px;
}

.findPoint {

}

.findPointPhone {

	&:not(:last-child) {
		margin-bottom: 7px;
	}
}

.findPointName {
	font-weight: 700;

	&:not(:last-child) {
		margin-bottom: 7px;
	}
}

.findPointAddress {

	&:not(:last-child) {
		margin-bottom: 7px;
	}
}

.findPointTime {

	&:not(:last-child) {
		margin-bottom: 7px;
	}
}

.findControls {
	position: absolute;
	right: 28px;
    bottom: 28px;
}

.findControl {
	color: $greenBlue;
	text-decoration: none;
}

[data-role="all-points"] {
	display: none;
}

.goToFirst {
	display: flex;
	align-items: flex-start;
}

.goToFirstImage {
	flex-shrink: 0;
	margin-right: 25px;
	width: 52px;
}

.audio {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.audioPlayer {
	width: 56px;
	flex-shrink: 0;
	margin-right: 23px;
}

%audioControl {
	display: block;
	width: 56px;
	height: 56px;
	background-size: cover;
}

.audioPlay {
	@extend %audioControl;
	background-image: url('/static/audio_play.png');

	&:hover {
		background-image: url('/static/audio_play_hover.png');
	}
}

.audioPause {
	@extend %audioControl;
	background-image: url('/static/audio_pause.png');

	&:hover {
		background-image: url('/static/audio_pause_hover.png');
	}
}

.audioText {
	width: calc(100% - 56px - 23px);
}