@import "./variables";
@import "./placeholders";

.artwork {
	@extend %pageArtwork;
	width: 796px;
	margin-bottom: -42px;
}

.contactEmail {
	font-size: 27px;
	font-weight: bold;
	color: inherit;
}

.contactText {
	margin-top: 8px;
}

.doctorImage {
	width: 170px;
}

.typeImage {
	height: 160px;
}

.whatNextImage {
	margin-top: -30px;
	margin-bottom: -15px;
	width: 768px;
	margin-left: calc( ( 657px - 768px ) / 2 );
}

.findCity {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.findEmpty {
	
}

.findContainer {
	display: flex;
	justify-content: space-between;
}

.findMap {
	width: 44%;
	height: 240px;
	flex-shrink: 0;
}

.findMainPoint {
	width: 50%;
}

.findPoint {

}

.findPointPhone {

	&:not(:last-child) {
		margin-bottom: 7px;
	}
}

.findPointName {
	font-weight: 700;

	&:not(:last-child) {
		margin-bottom: 7px;
	}
}

.findPointAddress {

	&:not(:last-child) {
		margin-bottom: 7px;
	}
}

.findPointTime {

	&:not(:last-child) {
		margin-bottom: 7px;
	}
}

.findPointMeta {

}

.findPoints {
	display: none;
	margin-top: $paragraphMargin;
}

.findPointsContainer {
	display: flex;
	justify-content: space-between;

	.findPoint:not(:last-child) {
		margin-bottom: $paragraphMargin;
	}
}

.findPointsEven {
	width: 44%;
}

.findPointsOdd {
	width: 50%;
}

.findShowMore {
	margin-top: 7px;
	display: inline-block;
	cursor: pointer;
	text-decoration: underline;

	&:hover {
		text-decoration: none;		
	}
}

.hideMore {
	composes: findShowMore;
	margin-left: calc(100% - 336px);
}

.goToFirst {
	display: flex;
	align-items: flex-start;
}

.goToFirstImage {
	flex-shrink: 0;
	margin-right: 25px;
	width: 52px;
}