@import "./variables";

.radioInput {
	display: none;

	&:checked + .radioLabel {

		&::after {
			opacity: 1;
		}
	}
}

.radioLabel {
	font-family: $roboto;
	font-weight: 300;
	font-size: 16px;
	position: relative;
	padding-left: 42px;
	height: 26px;
	line-height: 26px;
	display: inline-block;
	cursor: pointer;

	&::before {
		display: block;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 26px;
		height: 26px;
		border: 1px solid #000;
		border-radius: 50%;
		content: '';
	}

	&::after {
		display: block;
		position: absolute;
		left: 4px;
		bottom: 4px;
		width: 18px;
		height: 18px;
		background-color: $yellow;
		border-radius: 50%;
		transition: all 0.15s ease;
		opacity: 0;
		content: '';
	}
}

.checkboxInput {
	display: none;

	&:checked + .checkboxLabel {

		&::after {
			opacity: 1;
		}
	}
}

.checkboxLabel {
	font-family: $roboto;
	font-weight: 300;
	font-size: 16px;
	position: relative;
	padding-left: 42px;
	line-height: 26px;
	display: inline-block;
	cursor: pointer;

	&::before {
		display: block;
		position: absolute;
		left: 0;
		top: 8px;
		width: 26px;
		height: 26px;
		border: 1px solid #000;
		content: '';
	}

	&::after {
		display: block;
		position: absolute;
		left: 4px;
		top: 12px;
		width: 18px;
		height: 18px;
		transition: all 0.15s ease;
		background-color: $yellow;
		opacity: 0;
		content: '';
	}
}

.input {
	font-family: $roboto;
	font-weight: 300;
	display: inline-block;
	border: 1px solid #000;
	height: 42px;
    width: 86px;
	padding: 8px;
	font-size: 24px;
	text-align: center;
	border-radius: 0;
	box-shadow: none;
}

.button {
	font-family: $roboto;
	letter-spacing: 4px;
	font-size: 22px;
	font-weight: 300;
	color: #000;
	text-transform: uppercase;
	border: none;
	background-image: none;
	background-color: #f0c730;
	height: 62px;
	line-height: 62px;
	min-width: 290px;
	cursor: pointer;
	border-radius: 5px;
	color: #fff;
	transform: translate3d(0,0,0);
	box-shadow: 3px 3px 0px 0px #c89d25;
	transition: all 0.15s ease;

	&:hover {
		background-color: #dfb52b;
	}

	&[disabled] {
		box-shadow: none;
		opacity: 0.7;
		cursor: default;
		background-color: #f0c730;
	}

	&:active {
		position: relative;
		transform: translate3d(2px,2px,0);
		box-shadow: 1px 1px 0px 0px #c89d25;
	}
}

.inputInvalid {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes shake {
	10%, 90% {
		transform: translate3d(-2px, 0, 0);
	}

	20%, 80% {
		transform: translate3d(3px, 0, 0);
	}

	30%, 50%, 70% {
		transform: translate3d(-6px, 0, 0);
	}

	40%, 60% {
		transform: translate3d(6px, 0, 0);
	}
}