@import "./variables";

.radioInput {
	display: none;

	&:checked + .radioLabel {

		&::after {
			opacity: 1;
		}
	}
}

.radioLabel {
	font-family: $roboto;
	font-weight: 300;
	font-size: 16px;
	position: relative;
	padding-left: 42px;
	height: 26px;
	line-height: 26px;
	display: inline-block;
	cursor: pointer;

	&::before {
		display: block;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 26px;
		height: 26px;
		border: 1px solid #000;
		border-radius: 50%;
		content: '';
	}

	&::after {
		display: block;
		position: absolute;
		left: 4px;
		bottom: 4px;
		width: 18px;
		height: 18px;
		background-color: $yellow;
		border-radius: 50%;
		transition: all 0.15s ease;
		opacity: 0;
		content: '';
	}
}

.checkboxInput {
	display: none;

	&:checked + .checkboxLabel {

		&::after {
			opacity: 1;
		}
	}
}

.checkboxLabel {
	font-family: $roboto;
	font-weight: 300;
	font-size: 16px;
	position: relative;
	padding-left: 42px;
	line-height: 26px;
	display: inline-block;
	cursor: pointer;

	&::before {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 26px;
		height: 26px;
		border: 1px solid #000;
		content: '';
	}

	&::after {
		display: block;
		position: absolute;
		left: 4px;
		top: 4px;
		width: 18px;
		height: 18px;
		transition: all 0.15s ease;
		background-color: $yellow;
		opacity: 0;
		content: '';
	}
}

.input {
	font-family: $roboto;
	font-weight: 300;
	display: inline-block;
	border: 1px solid #000;
	height: 42px;
    width: 86px;
	padding: 8px;
	font-size: 24px;
	text-align: center;
	border-radius: 0;
	box-shadow: none;
}

.button {
	font-family: $roboto;
	letter-spacing: 4px;
	font-size: 22px;
	font-weight: 300;
	color: #000;
	text-transform: uppercase;
	border: none;
	background-image: none;
	background-color: #f0c730;
	height: 62px;
	line-height: 62px;
	min-width: 290px;
	cursor: pointer;
	border-radius: 5px;
	color: #fff;
	transform: translate3d(0,0,0);
	box-shadow: 3px 3px 0px 0px #c89d25;
	transition: all 0.15s ease;

	&:hover {
		background-color: #dfb52b;
	}

	&[disabled] {
		box-shadow: none;
		opacity: 0.7;
		cursor: default;
		background-color: #f0c730;
	}

	&:active {
		position: relative;
		transform: translate3d(2px,2px,0);
		box-shadow: 1px 1px 0px 0px #c89d25;
	}
}

.inputInvalid {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

select {
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select {
	font-family: $roboto;
	color: #5E5E5E;
	font-weight: 300;
    height: 34px;
    padding-left: 6px;
    padding-right: 50px;
    border-radius: 0;
    background-color: #fff;
    position: relative;
    border: 1px solid transparent;
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) 13px;
    background-size: 14px;
    font-size: 16px;
    cursor: pointer;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAKCAMAAABcxfTLAAAAV1BMVEX////3/P74/P7q9/zw+f30+/32+/3p9/zk9fve8/vZ8frK6/jH6vjH6vjA6Pe04/a04/aw4vWv4fWn3/So3/Sk3vSj3fSd2/Ob2vOZ2vOZ2vOZ2vOZ2vOtJ8O2AAAAHXRSTlMAAQECAgICCAsRFSEjJSk1Nzs9SElOT1pdYmRoaabLg/QAAABDSURBVHgBXcdXDoAgEEDBZ++9I/c/p5ANunH+hr/OKA0w2deAk2+ha4xXntKjQNTG96oIete75TNbO6Jk+xKhJSniAWrGBk8v/vKOAAAAAElFTkSuQmCC);
}

@keyframes shake {
	10%, 90% {
		transform: translate3d(-2px, 0, 0);
	}

	20%, 80% {
		transform: translate3d(3px, 0, 0);
	}

	30%, 50%, 70% {
		transform: translate3d(-6px, 0, 0);
	}

	40%, 60% {
		transform: translate3d(6px, 0, 0);
	}
}