@import "./variables";

.section {
	margin: $sectionMargin 0;
}

.root {
	position: relative;
	padding: 0 0 40px;
}

.container {
	width: 657px;
	margin: auto;
}

.footer {
	padding: $sectionMargin 0;
	background-color: $blue;
	margin-bottom: $sectionMargin;
}

.credentials {
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
	display: flex;
}

.credentialsImage {
	margin-right: 10px;
}