@import "./variables";

.section {
	
	&:not(:first-child) {
		margin-top: $sectionMargin;
	}

	&:not(:last-child) {
		margin-bottom: $sectionMargin;
	}
}

.root {
	position: relative;
	padding: 0 0 50px;
}

.container {
	width: 657px;
	margin: auto;
}

.footer {
	padding: $sectionMargin 0;
	background-color: $blue;
	margin-bottom: $sectionMargin;
}

.credentials {
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
	display: flex;
}

.credentialsImage {
	margin-right: 10px;
}