@import "./placeholders";

.root {
	margin: auto;
	width: 756px;
}

.container {
	border: 3px solid #FFD637;
	text-align: center;
}

.step {
	padding-top: 40px;
}

.title {
	composes: ptSerif;
	font-size: 40px;
	line-height: 45px;
	font-weight: bold;
	margin-bottom: 15px;
}

.subtitle {
	composes: roboto;
	font-weight: 300;
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 35px;
	letter-spacing: -0.2px;
}

.link {
	color: #3B66B2;
	text-decoration: underline;
}

.button {
	composes: testButton;
}