@import "./placeholders";

.root {
	margin: auto;
	width: 756px;
}

.container {
	border: 5px solid #FFD637;
	text-align: center;
}

.step {
	padding-top: 31px;
}

.title {
	composes: ptSerif;
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 17px;
}

.subtitle {
	composes: roboto;
	font-style: italic;
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 33px;
}

.link {
	color: #3B66B2;
	text-decoration: underline;
}

.button {
	composes: roboto;
	letter-spacing: 4px;
	font-size: 22px;
	font-weight: normal;
	color: #000;
	text-transform: uppercase;
	border: none;
	background-image: none;
	background-color: #FFD637;
	height: 62px;
	line-height: 62px;
	min-width: 290px;
	cursor: pointer;
}