@import "./variables";

.text {
	font-family: $roboto;
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
}

.header {
	font-family: $roboto;
	font-size: 48px;
	line-height: 55px;
	font-weight: 700;
	text-align: center;
}

.subheader {
	font-family: $roboto;
	font-size: 30px;
	line-height: 32px;
	font-weight: 700;
	margin-bottom: $paragraphMargin;
}

.paragraph {
	composes: text;

	&:not(:first-child) {
		margin-top: $paragraphMargin;
	}

	&:not(:last-child) {
		margin-bottom: $paragraphMargin;
	}
}

.link {
	cursor: pointer;
	color: $greenBlue;
	text-decoration: underline;
}

.linkPseudo {
	cursor: pointer;
	color: $greenBlue;
	border-bottom: 1px dotted $greenBlue;
}

.bold {
	composes: text;
	font-weight: 700;
}

.footnote {
	font-family: $roboto;
	color: $greenBlue;
	font-weight: 400;
}

.footnoteCounter {
	display: block;
	font-size: 54px;
	line-height: 56px;
	font-weight: 700;
	margin-bottom: -4px;
	font-family: 'PT Sans', sans-serif;
}

.footnoteText {
	display: block;
	line-height: 23px;
}

.footnoteMeta {
	display: block;
	font-size: 12px;
}

.float {
	display: flex;

	.footnote, 
	.media {
		flex-shrink: 0;
		margin-left: 24px;
	}

	.media {
		width: 196px;
	}
}

.floatJustifyBetween {
	composes: float;
	justify-content: space-between;
}

.note {
	font-family: $roboto;
	width: 768px;
	margin-left: calc( ( 657px - 768px ) / 2 );
	padding: 50px calc( ( 768px - 657px ) / 2 ) 64px;
	background-color: $blue;
}

.col2 {
	flex-shrink: 0;

	&:first-child {
		width: 44%;
	}

	&:last-child {
		width: 50%;
	}
}