@import "./variables";

.text {
	font-family: $roboto;
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
}

.header {
	font-family: $roboto;
	font-size: 48px;
	line-height: 55px;
	font-weight: 700;
	text-align: left;
}

.subheader {
	font-family: $roboto;
	font-size: 30px;
	line-height: 32px;
	font-weight: 700;
	margin-bottom: $paragraphMargin;
}

.paragraph {
	composes: text;

	&:not(:first-child) {
		margin-top: $paragraphMargin;
	}

	&:not(:last-child) {
		margin-bottom: $paragraphMargin;
	}
}

.link {
	cursor: pointer;
	color: $greenBlue;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.linkPseudo {
	cursor: pointer;
	color: $greenBlue;
	border-bottom: 1px dotted $greenBlue;
}

.bold {
	composes: text;
	font-weight: 700;
}

.italic {
	composes: text;
	font-style: italic;
}

.footnote {
	font-family: $roboto;
	color: $greenBlue;
	font-weight: 400;
	font-size: 21px;
	line-height: 28px;
}

.footnoteText {
	font-size: 21px;
	line-height: 28px;
}

.note {
	font-family: $roboto;
	width: 830px;
	margin-left: calc( ( 774px - 830px ) / 2 );
	padding: $gridGutter calc( ( 830px - 774px ) / 2 ) $tableMargin;
	background-color: $blue;
}

.row {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.rowBottom {
	@extend .row;
	align-items: flex-end;
}

%grid {
	flex-shrink: 0;
}

.grid1 {
	@extend %grid;
	width: calc( (100% - 27px * 5) / 6);
}

.grid2 {
	@extend %grid;
	width: calc( (100% - 27px * 2) / 3);
}

.grid3 {
	@extend %grid;
	width: calc( (100% - 27px) / 2);
}

.grid4 {
	@extend %grid;
	width: calc( (100% - 27px) / 3 * 2);
}

.grid5 {
	@extend %grid;
	width: calc( (100% - 27px) / 6 * 5);
}

.grid6 {
	@extend %grid;
	width: 100%;
}