@import "./placeholders";
@import "./variables";

.artwork {
	@extend %pageArtwork;
	margin-bottom: 20px;
}

.test {
	padding-bottom: 80px;
}

.goal {
	display: flex;
}

.goalAuthor {
	flex-shrink: 0;
	margin-right: 20px;
}

.goalAuthorPhoto {
	width: 92px;
}

.goalText {
	font-size: 27px;
	line-height: 35px;
	font-weight: 300;
}