<div class="as-app">
	<div class="as-app__nav" data-view="app-nav"></div>
	<div class="as-app__container" data-view="app-container"></div>
	<div class="as-app__footer" data-view="app-share"></div>
	<div class="as-app__geo">
		{{#if geo.error}}
			Error: {{geo.error}}
		{{else if city}}
			City: {{city}}
		{{else}}
			Detecting your city...
		{{/if}}
	</div>
</div>