<div class="{{styles.pageRoot}}">
	<a href="/#/how" class="{{styles.pageNavPrev}}">Как<br>сдать</a>
	<div class="{{styles.pageTitle}}">Где сдать<br>костный мозг</div>
	<a href="/#/why" class="{{styles.pageNavNext}}">Зачем<br>Сдавать</a>
</div>