<div class="{{styles.pageRoot}}">
	<a href="/#/where" class="{{styles.pageNavPrev}}">Где<br>сдать</a>
	<div class="{{styles.pageTitle}}">Зачем сдавать<br>костный мозг</div>
	<a href="/#/how" class="{{styles.pageNavNext}}">Как<br>Сдавать</a>
</div>