@import "../variables";

.root {
	text-align: left;
}

.header {
	font-size: 0;
	letter-spacing: 0;
	line-height: 0;
}

.headerIcon {
	width: 28px;
	height: 28px;
	text-align: center;
	background-color: #000;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	line-height: 28px;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	margin-right: 11px;
}

.headerText {
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
}

.content {
	/*display: flex;*/
	/*flex-direction: row;*/
}

.contentFail {
	/*justify-content: flex-start;*/
}

.contentSuccess {
	/*justify-content: flex-start;*/
	position: relative;
}

.successText {
	position: relative;
	z-index: 2;
	min-height: 450px;
}

.successImage {
	position: absolute;
	z-index: 1;
	left: 177px;
    top: 21px;
    width: 646px;
}

.fail {

}

.failText {
	
}

.failImage {
	position: absolute;
	z-index: 1;
    right: -40px;
    bottom: -84px;
    width: 410px;
}

.share {
	margin-top: 40px;
}

.agreement {
	margin-top: 15px;
}