@import "../variables";

.root {
	text-align: left;
}

.header {
	font-size: 0;
	letter-spacing: 0;
	line-height: 0;
}

.headerIcon {
	width: 28px;
	height: 28px;
	text-align: center;
	background-color: #000;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	line-height: 28px;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	margin-right: 11px;
}

.headerText {
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
}

.content {
	display: flex;
	flex-direction: row;
}

.contentFail {
	justify-content: flex-start;
}

.contentSuccess {
	justify-content: flex-start;
	position: relative;
}

.successText {
	position: relative;
	z-index: 2;
}

.successImage {
	position: absolute;
	z-index: 1;
	left: 107px;
    top: -55px;
    width: 646px;
}

.fail {

}

.failTitle {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 15px;
}

.failText {
	width: 300px;
	font-size: 18px;
	line-height: 26px;
}

.share {
	font-size: 18px;
	line-height: 26px;
	margin-top: 15px;
}

.agreement {
	margin-top: 15px;
}