@import "../variables";

.root {
	text-align: left;
	margin: auto;
}

.form {
	margin: 0;
}

.formAuto {
	composes: form;
	text-align: left;

	.radio {

		&:not(:last-child) {
			margin-bottom: $paragraphMargin;
		}
	}
}

.formDisease {
	composes: form;
	text-align: left;
}

.formDiseaseContainer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	height: 200px;

	.checkbox {
		width: calc(50% - 10px);

		&:not(:last-child) {
			margin-bottom: $paragraphMargin;
		}
	}
}

.actions {
	
}