@import "../placeholders";

.root {
	padding: 35px 35px 74px;
}

.stepHeader {
	composes: roboto;
	text-align: left;
}

.stepInfo {
	font-weight: bold;
	font-style: 24px;
}

.stepTitle {
	font-style: 21px;
}

.form {
	margin-bottom: 40px;
}

.input {
	composes: roboto;
	display: inline-block;
	border: 1px solid #000;
	height: 54px;
	line-height: 54px;
	width: 200px;
	padding: 10px;
	font-size: 30px;
}